includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    ignoreErrors:
        - '#^Call to an undefined method App\\Providers\\AppServiceProvider\:\:\w+\(\)\.$#'
    paths:
        - app/

    # Level 10 is the highest level
    level: max
